.delius-unicase-regular {
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
}

.delius-unicase-bold {
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 1% auto;
    width: 90%;
}

p {
    padding: 15px;
    font-size: 1.1em;
}

h1 {
    color: white;
    text-align: center;
    padding: 50px 0 20px 0;
    font-family: "Delius Unicase", cursive;
}

h2 {
    color: #7c319d;
    font-family: "Delius Unicase", cursive;
}

h3 {
    color: #48150a;
    font-family: "Delius Unicase", cursive;
}

ul {
    padding: 15px;
    list-style-type: none;
    font-size: 1.1em;
}

li>ul {
    list-style-type: square;
    font-size: 1.1em;
}

header {
    background-color: #999999;
    height: 200px;
    background: url('images/topimage.jpg') no-repeat top center;
    margin: 0;
}


main {
    float: left;
    width: 70%;
    padding: 15px;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
}

aside {
    float: right;
    width: 25%;
    padding: 15px;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

footer {
    background-color: #999999;
    padding: 10px;
    text-align: center;
    clear: both;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 60%;
}


@media screen and (max-width: 350px) {

    /* For mobile phones: */
    main img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 100%;
    }


    aside {
        width: 100%;
    }

    .youtube-video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }

    #mobileHide {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    main img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 50%;
    }

    aside {
        width: 100%;
    }

    .youtube-video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }


}


@media print {
    * {
        background: transparent !important;
        color: #000000 !important;

    }

    nav,
    aside img,
    .youtube-video,
    hr {
        display: none;
    }

    header {
        height: 10pt;
    }

    aside {
        width: 100%;
        padding: 0;
    }

    main {
        width: 100%;
        padding: 0;
    }

    footer {
        width: 100%;
        font-size: 8pt;
    }

    a::after {
        content: " [" attr(href) "]";
    }

    @page {
        margin: 1in;
    }


    h1,
    h2,
    h3,
    h4 {
        font-size: 14pt;
        margin: 0;
        padding-top: 5pt;
    }

    p,
    ul,
    blockquote,
    li>ul {
        font-size: 10pt;
        padding: 0;
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif !important;
    }

}